#logo {
  margin-top: 30px;
  font-size: 50px;
}

#wrapper {
  padding-left: 20vh;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: rgb(100,100,255);
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-content {
  font-size: 24px;
  padding: 15px;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }
}

@font-face {
    font-family: "oneConstant";
    src: url('hapole_marker.ttf') format("truetype");
}
@font-face {
    font-family: "MankSans";
    src: url('MankSans.ttf') format("truetype");
}
.manksans {
  font-family: 'MankSans', Arial;
}
.customfont { 
    font-family: "oneConstant", Arial;
}

/* --------------------------- CONTACT PAGE ----------------------------- */

.contact {
  font-size: 40px;
  margin-top: 80px;
}

