#logo {
  margin-top: 30px;
  font-size: 50px;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 0px;
  width: 250px;
  background: #CCC;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-content {
  font-size: 24px;
  padding: 15px;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }
}

@font-face {
    font-family: "oneConstant";
    src: url('hapole_marker.ttf') format("truetype");
}
.customfont { 
    font-family: "oneConstant", Arial;
}


