body {
  background-color: rgb(255,255,230);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black;
}
#logo {
  color: white;
  margin: 40px 0 30px 0;
  font-size: 50px;
  text-shadow: 0px 3px 1px black;
}
.shadow {
  text-shadow: 2px 1px 1px black;
}
#topNav {
  position: fixed;
  background: url(https://pixabay.com/static/uploads/photo/2016/03/03/17/25/wood-1234667_960_720.jpg);
  height: 60px;
  width: 120vw;
  z-index: 999;
  box-shadow: 0px 1px 5px black;
}

#wrapper {
  padding-left: 20vh;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  color: white;
  background: url('waves2.jpg');
  background-size: 125% 100%;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  box-shadow: 1px 0px 8px black;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  width: 250px;
  list-style: none;
  margin: 0, 0, 20px, 0;
  padding: 0;
}
.sidebar-content {
  font-size: 24px;
  background-color: rgba(255,255,255,.4);
  margin: 5px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  z-index: 1010;
  text-shadow: 2px 1px 1px black;
}

#artistOfTheWeek {
  width: 150px;
  height: 200px;
}

.aotwText {
  margin-left: 200px;
  background-color: blue;
  transform: rotate(270deg);
  z-index: 900;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }
}

@font-face {
    font-family: "hapole";
    src: url('Fonts/hapole_marker.ttf') format("truetype");
}
@font-face {
    font-family: 'lacuna';
    src: url('Fonts/LACURG__.TTF') format("truetype");
}
.lacuna {
  font-family: 'lacuna', Arial;
}
.hapole { 
    font-family: "hapole", Arial;
}

/* ----------------------------- HOME PAGE ------------------------------ */

#homeTitle {
  margin-top: 100px;
}

/* --------------------------- CONTACT PAGE ----------------------------- */

.contact {
  font-size: 60px;
  margin-top: 30vh;
}

#contactButton {
  margin: 40px;
  background-color: rgb(100,100,255);
  width: 100px;
  height: 30px;
  border-style: none;
}

/*---------------------------- VENUES PAGE --------------------------------*/
#accordion {
    margin-top: 20vh;
    list-style: none;
    width: 170px;
}
#accordion div {
    display: block;
    background-color: rgb(100, 255, 100);
    height: 50px;
    width: 15vw;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
    display: none;
}
#accordion ul li {
    width: 75vw;
    font-weight: normal;
    cursor: auto;
    background-color: #fff;
    padding: 5px;
}
